body {
    padding: 0;
    margin: 0;
}
video {
    position: absolute;
    z-index: -1;
    min-width: 90%;
    /* min-height: 50%; */
    object-fit: contain;
}
/* .wraper{
    width: 300%;
    
    object-fit: contain;
} */

@media (min-width: 992px) {
#coverPage {
    width: 50%;
    /* height: 50%; */
    display: flex;
}
}
#showSecondPage {
    position: absolute;
    left: 80%;
    top:5%;
    color: rgb(8, 8, 8);
    box-shadow: 0 0 20px 1 px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 10px;
    opacity: 50%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #fff
}
#secondPage {
    display: none;
}
#navigationBar{
    position: absolute;
    left: 80%;
    top:5%;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 10px;
}
#iconSearch{
    position: absolute;
    left:81%;
    top:6%;
}
footer {
    display: none;
}
.repositoryGit{
    top:250%;
    left:5%;
    max-width: 2%;
    position: absolute;
    /* display: none; */
}
#listOfFilms{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.containerMovies{
    top:100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}
.poster{
    width: 200px;
    height: 260px;
}