*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    }


.navigation{
    position: absolute;
    left: 80%;
    top:9%;
    padding: 6px 6px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #5BA0DE;
} 

.containerMovies:hover, .containerCharacters:hover, .containerVehicles:hover, .containerLocations:hover {
    -webkit-transform: scale(1.3);transform:scale(1.3)
}

.menu_bar{
    display: none;
}

header {
    /* background: #3f7f81; */
    width:100%;
    font-family: roboto, sans-serif;
}

header nav {
    background: #fff;
    z-index: 1000;
    max-width: 100%;
    margin-top: -5px;
    box-shadow: 1px 1px 0px rgb(148, 147, 147);
    display: flex;
    justify-content: center;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0;
}

header nav ul li:hover .children {
    display: block;
}

header nav ul li .children {
    display: none;
    background: #7c5a11;
    position: absolute;
    width: 150%;
    z-index: 1000;
}

header nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
    display: block;
}

header nav ul li .children li a span {
    float:right;
    position: relative;
    top: 2px;
    margin-right: 0;
    margin-left: 10px;
}

header nav ul li a {
    color: #0A3D63;
    display: block;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover {
    background-color: #5BA0DE;
}

header nav ul li a span{
    margin-right: 10px;
}
.nav{
    background-color: #606060;
    position: relative;
    z-index: -1;
}

.fondoNav {
    position: relative;
    bottom: 60%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#logo {
    position: absolute;
    margin: 0;
    bottom: 80%;
    cursor: pointer;
}

video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* min-height: 50%; */
    object-fit: contain;
}

.wraper{
    background-color: rgb(29, 29, 29);
}

#showSecondPage {
    position: absolute;
    left: 83%;
    top:5%;
    color: rgb(8, 8, 8);
    box-shadow: 0 0 20px 1 px rgba(0, 0, 0, 0.3);
    padding: 8px 39px;
    font-size: 15px;
    border-radius: 20px;
    opacity: 50%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #fff;

}

#showSecondPage:hover{
    background: linear-gradient(90deg, rgba(251,147,235,1) 0%, rgba(158,158,255,1) 35%, rgba(84,227,246,1) 100%);
    opacity: 100%;
    border: 1px solid rgba(158,158,255,1);
    color: #fff;
}

#secondPage {
    display: none;
}
#thirdPage {
    display: none;
}
#fourtPage{
    display: none;
}
#fifthPage{
    display: none;
}
#navigationBar{
    position: absolute;
    left: 80%;
    top:9%;
    padding: 6px 6px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #5BA0DE;
}

#iconSearch{
    position: absolute;
    left:93%;
    top:61px;
    color: #5BA0DE;
}

#listOfFilms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.filterFather{
    display: flex;
    direction: row;
    justify-content: space-around;
}



.containerMovies{
    top:100%;
    padding: 5px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px #0A3D63;
    background-color: #fff;
    border-radius: 15px;
}

.poster{
    width: 200px;
    height: 260px;
    padding: 15px;
    transition: all 0.2s;
    border-radius: 27px;
}


#informationOfMovies{
    display: inline-flex;
}
.modalDescription{
    display: inline-block;
    background-color: #eff5fb;
    width: 360px;
    height: 200px;
    position: relative;
    top: 42px;
    left: -250px;
    padding: 15px;
    border-radius: 15px;
    overflow: auto;
}

#title {
    text-align: center;
    font-size: 15px;
    color: #0A3D63;
    padding-bottom: 11px;
}

#titleModal {
    font-size: 15px;
    color: #fff;
    width: 190px;
    position: relative;
    top: 22px;
    left: 110px;
    width: 290px;
}

.filterDesign{

    width: 150px;
    color: #fff;
    padding: 5px 15px;
    margin-top: 29px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #3DC6C6;
    background: #3DC6C6;
}
.hiden{
    display: none;
}
#showToCharacters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#showToVehicles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#showToLocations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.containerCharacters{
    top:100%;
    padding: 5px 0px 19px 0px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: justify;
    box-shadow: 1px 1px 5px #0A3D63;
    background-color: #fff;
    border-radius: 15px;
}

.containerVehicles{
    width: 340px;
    margin: 5% auto 90px;
    display: flex;
    flex-direction: column;
    align-items: justify;
    box-shadow: 1px 1px 5px #0A3D63;
    background-color: #fff;
    padding: 20px 19px 0px;
    border-radius: 15px;
}

.containerLocations{
    width: 340px;
    margin: 5% auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: justify;
    box-shadow: 1px 1px 5px #0A3D63;
    background-color: #fff;
    padding: 20px 19px 19px 20px;
    border-radius: 15px;
}

.pCharacters{
    padding: 2px;
    font-size: 13px;
    text-align: center;
    color: #0A3D63;
}


.filter_1{
    display: inline-block;
    margin-left: 40px;
}

.posterVehicles{
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: all 0.2s;
}
.posterLocations{
    width: 300px;
    height: 260px;
    transition: all 0.2s;
    border-radius: 15px;

}
.repositoryGit{
    max-width: 6%;
    color: #fff;
    position: relative;
    top: 15px;
}

.referenceName{
    color: #fff;
    text-decoration: none;
}

#footer {
    background-color: #0A3D63;
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    
}
#logoFooter{
    width: 60%;
    padding-left: 20px;
}

p{
    color: #fff;
    text-align: center;
}

.columnOne{
    width: 50%;
    display: contents;
}

.columnTwo{
    width: 50%;
}

.upMenu{
    background-color: Grey;
    width: 50%;
    display: contents;
}
.upButton{
    width: 40%;
    position: relative;
    left: 160px;
    bottom: 10px;
}
.modals{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.85);
    margin: auto;
    position: relative;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.containerModals{
    display: none;
    background-color: rgba(10, 61, 99, 0.9);
    position: fixed;
    padding: 30px 20px 5px 31px;
    left: 290px;
    top: 30px;
    width: 760px;
    height: 350px;
    border-radius: 12px;
}
.containerModals > .informationOfMovies > img{
    height: 283px;
    width: 220px;
    margin-bottom: 0;
}
.pModals{
    font-family: Roboto, sans-serif;
    text-align: justify;
    font-size: 13px;
    color: #0A3D63;
}
.close{
    position: absolute;
    top:5px;
    right:5px;
    display: inline-block;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 20%;
    padding: 0px 6px 2px 7px;
}
.repositoryGit{
    max-width: 6%;
    color: #fff;
    position: relative;
    top: 15px;
}

.referenceName{
    color: #fff;
    text-decoration: none;
}

#footer {
    background-color: #0A3D63;
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}
#logoFooter{
    width: 60%;
    padding-left: 20px;
}

p{
    color: #fff;
    text-align: center;
}

.columnOne{
    width: 50%;
    display: contents;
}

.columnTwo{
    width: 50%;
}

.upMenu{
    background-color: Grey;
    width: 50%;
    display: contents;
}
.upButton{
    width: 40%;
    position: relative;
    left: 160px;
    bottom: 10px;
}

@media (max-width: 640px) {
    *{
        background-color:red;
        font-size:12px;
    }
    header nav{
        font-size: 13px;
    }

    .menu_bar{
        display: block;
        position: fixed;
        width: 100%;
        top: 0px;
        background: blue;
        z-index: 1000;
    }



    .menu_bar .bt_menu{
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span{
        float: right;
        font-size: 30px;
    }

    header nav{
        width: 80%;
        height:100%;
        position: fixed;
        left: 20%;
        margin: 0;
        overflow: scroll;
    }

    header nav ul{
        width: -moz-available;
    }

    header nav ul li{
        display: block;
        border-bottom: 1.3px solid rgba(255,255,255,0.5);
        line-height: 30px;
    }
    
    header nav ul li a{
        display: block;
    }

    hea

    /* .bt_menu {
        left: 100px;
        position: relative;
        top: 2px;
        text-decoration: none;
        color: #fff;
        display: none;
    } */
    #showSecondPage{
        left: 80%;
        top: 17px;
        padding: 6px 20px;
        font-size: 12px;
    }
    #logo {
        top: 9px;
        width: 150px;
    }
    #iconSearch{
        position: absolute;
        color: #5BA0DE;
        margin-top: -40px;
        margin-left: -90px;
    }
    #navigationBar {
        left: 400px;
        top: 19px;
        padding: 2px;
        font-size: 12px;
        border-radius: 10px;
        border: 1px solid #5BA0DE;
        width: 90px;
    }
    #coverPage {
        height: 32%;
        }
    .filterDesign{
        font-size: 12px;
        width: 130px;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    p{
        font-size: 9px;
    }
    #logoFooter {
        width: 60%;
        padding-left: 15px;
    }
    .upButton {
        left: 90px;
        bottom: 13px;
    }
    .filter_1 {
        display: inline-block;
    }
    .poster {
        width: 180px;
        height: 230px;
        }
    #title {
        font-size: 13px;
        }
    .repositoryGit {
        top: 4px;
    }
    }

/* footer {
    display:flex;
} */



